body {
    margin: 0px;
    background-color: darkorange;
    font-family: monospace;
}

.clear {
    clear: both;
}

.page_wrapper {
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
}

.page_wrapper .white {
    background-color: #ffffff;
    padding: 30px 30px 10px 30px;
}

.page_wrapper .black {
    background-color: black;
    color: white;
    padding: 10px 30px 30px 30px;
}

.page_wrapper .white .head {
    font-size: 30px;
    color: darkorange;
}

.page_wrapper .white .menu {
    margin-top: 30px;
    text-align: right;
    border-bottom:1px solid darkorange;
    padding-bottom: 5px;
}

.page_wrapper .white .menu a {
    padding: 0px 10px;
    color: black;
    text-decoration: none;
}

.page_wrapper .white .menu a.active_link {
    font-weight: bold;
}

.page_wrapper .white .title {
    margin: 60px 0px;
    border-bottom: 1px solid darkorange;
    font-size: 60px;
    font-weight: bold;
    line-height: 40px;
}

.page_wrapper .white .content_about_me {
    padding-bottom: 30px;
    border-bottom: 1px solid darkorange;
}

.page_wrapper .white .content_about_me .my_img {
    float: left;
    width: 40%;
    padding: 0px 20px 0px  0px;
    box-sizing: border-box;
}

.page_wrapper .white .content_about_me .my_img img {
    width: 100%;
}

.page_wrapper .white .content_about_me .text_about_me {
    float: right;
    width: 60%;
    font-size: 12px;
}

.page_wrapper .white .content_about_me .text_about_me .few_words {
    background-color: black;
    color: darkorange;
    font-size: 20px;
    padding: 10px;
    width: 45%
}

.page_wrapper .white .content_about_me .text_about_me .quote {
    padding: 15px;
    background-color: orange;
}

.page_wrapper .white .content_about_me .text_about_me .quote p:first-child {
    font-style: italic;
}

.page_wrapper .white .content_about_me .text_about_me .quote p:last-child {
    text-align: right;
}

.page_wrapper .white .skills {
    padding: 30px 0px;
    border-bottom: 1px solid darkorange;
}