body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: black;
}

a img {
    height: 35%;
    width: 30%;

}

a {
    text-decoration: none;
    outline: none;
}

.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
