
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.head_text_about{
    font-size: 55px;
}

.head_text{
    font-size: 45px;
}

.photo a img {
    height: 100%;
    width: 100%;

}

.photo a {
    text-decoration: none;
    outline: none;
}